# Heroku environmental variables, including API keys.
# https://devcenter.heroku.com/articles/config-vars
.env
.env-local
.env-heroku

npm-debug.log

# Mac
.DS_Store

# Emacs
*~

# Misc
asset1.docx
work.html

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pdf
*.xlsx
*.pem

pids
logs
results
